#post {
    font-size: 100%;
    width: 492px;
    height: 200px;
    padding: 3px;
    margin: 0;
    border: 1px solid gray;
}

#title {
    font-size: 100%;
    width: 492px;
    height: 45px;
    padding: 3px;
    margin: 0;
    border: 1px solid gray;
}

#create-post .containers {
    min-width: 80%;
    min-height: 90%;
    margin: 20px;
    margin-top: 10px;
    border: 0.5rem solid orange;
}

#create-post .all_info {
    height: 100%;
    margin-bottom: 15px;
}

#create-post .container_rest {
    height: 100%;
    width: 75%;
}